usn  
{  
    font-weight:bold;  
    color:purple;  
    display:block;  
    }  
name  
{  
    font-style:italic;  
    color:blue;  
    display:block;  
} 
college  
{  
    color:red;  
    display:block;  
}  
branch  
{  
    color:green;  
    display:block;  
}
yoj  
{ 
    color:gold;  
    display:block;  
}  
email  
{  
    color:olive;  
    display:block;  
} 
 
 